.about {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    gap: 30px;
    margin-bottom: 30px;

    .about-title {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    img {
        width: 10%;
    }

    p {
        width: 70%;
        font-size: 1.2em;
    }
}