.profile-container {
    display: flex;
    flex-direction: row;
    width: 40%;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    border: 2px solid gray;
    background-color: rgba(189, 184, 184, 0.281);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    img {
        width: 100px;
        cursor: pointer;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
}

    img:hover {
        scale: 1.2;
    }
}

.profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}